<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>input: 
      <textarea style="height:50px;"><%= input %></textarea>
    </p>
    <p>graph: 
        <textarea style="height:100px;"><%= graph %></textarea>
    </p>
    <p>output: 
      <textarea style="height:350px;"><%= output %></textarea>
    </p>
  </body>
</html>
